* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
    text-align: center;
}
nav h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-top: 1rem;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    padding-top: 8rem;
}

.square-div{
    width: 16px;
    height: 16px;
    border: 1px solid black;
}